@model MapeamentoEcossistema.WebUI.Models.FormQuestion

<fieldset>
    <label for="nome">@Model.Title</label>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.QuestionGroupId)
    @Html.EditorFor(model => model.Responses, new { FieldType = Model.FieldType })
</fieldset>
