<body class="bg-1">
    <div class="geral">
        <section class="conteudo">
            <div class="row-max">
                <div class="main grid_6 offset_3">
                    @using (Html.BeginForm("Index", "Access", FormMethod.Post, new { @class = "nysmnyd-labels" }))
                    {
                        <h1>Questionário Ecossistema
                            <br>
                            Startups</h1>
                        
                        <div style="margin: 0 95px">
                            @Html.ValidationSummary(true)
                        </div>
                        
                        <fieldset class="campo-busca">
                            @Html.TextBox("accessToken", Request["accessToken"], new { id = "cod", placeholder = "Insira o Código Verificador" })
                            <small>Código Inválido</small>
                        </fieldset>

                        <fieldset class="bt-enviar">
                            <input type="submit" value="Entrar">
                        </fieldset>

                        @*<p>Insira o Código Verificador</p>*@
                    }
                </div>
            </div>

            <div class="row-max logo-container">
                <div class="grid_12">
                    <img src="/Content/img/logo-sebrae.png" alt="Sebrae">
                </div>
            </div>
        </section>
    </div>

    <script>$(':text').focus()</script>
</body>
