@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="" />
    <meta name="robots" content="index" />
    <meta name="robots" content="follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Questionário ecossistema startups</title>

    <!-- RESETS -->
    <link href="/Content/normalize.css" rel="stylesheet" />
    <link href="/Content/reset.css" rel="stylesheet" />

    <!-- FONTS -->
    <link href="/Content/session/stylesheet.css" rel="stylesheet" type="text/css" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/Content/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/plugins/Amazium-3.4.1/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/plugins/Amazium-3.4.1/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/plugins/Amazium-3.4.1/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/plugins/Amazium-3.4.1/img/apple-touch-icon-144x144.png" />

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/Content/plugins/Amazium-3.4.1/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/Amazium-3.4.1/css/amazium-percent.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/Amazium-3.4.1/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/Amazium-3.4.1/css/layout.css" />

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/Content/plugins/Amazium-3.4.1/js/amazium.js"></script>

    <!-- FALLBACKS -->
    <!--[if lt IE 9]>
  		<script type="text/javascript" src="/Scripts/selectivizr.js"></script>
  		<script type="text/javascript" src="/Scripts/html5shiv.js"></script>
	<![endif]-->
</head>
@RenderBody()
</html>
